{% extends 'base.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="col-sm-10">
                <p>{{ categorium.nomcategoria }}</p>


    <a href="{{ path('categoria_index') }}">back to list</a>

    <a href="{{ path('categoria_edit', {'idCategoria': categorium.idCategoria}) }}">edit</a>

    {{ include('categoria/_delete_form.html.twig') }}


            </div>
        </div>
    </div>
</div>
{% endblock %}
