<ul class="list-group">
    {% for categorium in categorias %}

            <p>{{ categorium.nomcategoria }}</p>

              <a href="{{ path('categoria_show', {'idCategoria': categorium.idCategoria}) }}">show</a>
              <a href="{{ path('categoria_edit', {'idCategoria': categorium.idCategoria}) }}">edit</a>


    {% endfor %}

</>
