<form method="post" action="{{ path('comentario_delete', {'idComentario': comentario.idComentario}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comentario.idComentario) }}">
    <button class="btn">Delete</button>
</form>
