{% extends 'base.html.twig' %}

{% block title %}Edit Comentario{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="col-sm-10">
    {{ include('comentario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comentario_index') }}">back to list</a>

    {{ include('comentario/_delete_form.html.twig') }}

            </div>
        </div>
    </div>
</div>

{% endblock %}
